<center>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/jskeegraphics/logo.png", :class =>"img-responsive"  %>
</center>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Core Training", root_path %></li>
      <li><%= link_to "Target Training", root_path %></li>
      <li><%= link_to "Bootcamps", root_path %></li>
      <li><%= link_to "Testimonials", root_path %></li>
      <li><%= link_to "About", root_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

